.carrito,.cuenta{
    font-size: 2em;
    cursor: pointer;
}

.boton-buscar{
    color:#F75C03;
    border:1px solid #F75C03 ;
    background-color:#F75C03;
    color:white;
}

.boton-buscar:hover{
  background-color: #ec6b20 !important;
  border:1px solid #ec6b20 !important;
  color:#353434;
}

.logo{
    height: 80px;
}
.nombrePerfil{
    cursor: pointer;
}
.logout,.person{
    color:#F75C03;
}
.navbar-toggler-icon{
    filter: invert(100%);
}

.botonMenu{
    border:1px solid #F75C03;
    outline: none;
}
.botonMenu:focus{
    box-shadow: none;
}
.position-relative {
  position: relative;
}

.autocomplete-results {
  position: absolute;
  top: 100%;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 5px;
  width: 100%;
  margin-top: 5px;
}

.cartas {
  width: 100%;
  margin: 5px;
  padding: 10px;
  text-align: center;
}

.product-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-image {
  width: 70px;
  height: 70px;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-name {
  font-weight: bold;
}

.product-price {
  font-size: 20px;
}
  

@media screen and (min-width:991px){
    .nav-menu{
        border-top: 2px solid #353434;
    }
}
