.carrito,.cuenta{
    font-size: 2em;
    cursor: pointer;
}

.boton-buscar{
    color:#F75C03;
    border:1px solid #F75C03 ;
    background-color:#F75C03;
    color:white;
}

.boton-buscar:hover{
  background-color: #ec6b20 !important;
  border:1px solid #ec6b20 !important;
  color:#353434;
}

.logo{
    height: 80px;
}
.nombrePerfil{
    cursor: pointer;
}
.logout,.person{
    color:#F75C03;
}
.navbar-toggler-icon{
    filter: invert(100%);
    }
.botonMenu{
    border:1px solid #F75C03;
    outline: none;
}
.botonMenu:focus{
    box-shadow: none;
}

@media screen and (min-width:991px){
    .nav-menu{
        border-top: 2px solid #353434;
    }
}
