.carrito,.cuenta{
    font-size: 2em;
    cursor: pointer;
}
.nav-menu{
    border-top: 2px solid rgb(53, 52, 52);
}
.boton-buscar{
    color:#FFA200;
    border:1px solid #FFA200;
}
.boton-buscar:hover{
    background-color:#FFA200;
    color:white;
}
.logo{
    width: 250px;
    height: 80px;
}