<header>
<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid d-flex flex-wrap">
    <div class="col-lg-4">
      <div class="contenedor-logo d-flex justify-content-center">
        <a routerLink="/home" routerLinkActive="active">
        <img src="../../../assets/img/logo.png" class="logo" alt="">
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>
    <div class="col-lg-4 pt-4">
      <form class="d-flex mb-4" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn boton-buscar" type="submit">Buscar</button>
      </form>
    </div>

    <div class="col-lg-1"></div>
    <div class="col-lg-3">
          <i class="bi bi-person text-light cuenta"></i>
        <i class="bi bi-cart mx-4 text-light carrito"></i>
    </div>


    <div class="collapse navbar-collapse col-lg-12 nav-menu" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex m-auto">
        <li class="nav-item">
          <a class="nav-link text-light" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Tienda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light ">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</header>
