<app-header></app-header>
<div *ngIf="cartService.obtenerCarrito().length == 0 ">
  <div class="text-center m-5">
      <h3>Tu carrito esta vac&iacute;o.</h3>
      <a routerLink="/" class="text-decoration-none btn btn-secondary">Empieza a comprar</a>
  </div>
</div>
<section class="h-100 h-custom" *ngIf="cartService.obtenerCarrito().length != 0" >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 tituloprincipal">Mi carrito</h1>
                  </div>

                  <div *ngFor="let producto of cartService.obtenerCarrito()">
                    <hr class="my-4">
                    <div class="row mb-4 d-flex justify-content-between align-items-center">

                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <img src={{producto.img}} class="img-fluid rounded-3" alt={{producto.name}}>
                      </div>

                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <h6 class="text-black mb-0">{{producto.name}}</h6>
                      </div>

                      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                        <button class="btn btn-link px-2" (click)="cartService.decrementQuantity(producto)"><i class="fas fa-minus"></i></button>

                        <input id="form1" min="1" name="quantity" [(ngModel)]="producto.cantidad" class="form-control form-control-sm" (ngModelChange)="onQuantityChange(producto.id)" />

                        <button class="btn btn-link px-2" (click)="incrementQuantity(producto)"><i class="fas fa-plus"></i></button>
                      </div>




                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        <h6 class="mb-0">$ {{producto.price}}</h6>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <a (click)="eliminarDelCarrito(producto)" class="text-muted"><i class="fas fa-times"></i></a>
                      </div>
                    </div>
                  </div>

                  <hr class="my-4">

                  <div class="pt-5">
                    <h6 class="mb-0">
                      <a href="/" class="text-body">
                        <i class="fas fa-long-arrow-alt-left me-2"></i>Volver
                      </a>
                    </h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">RESUMEN</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">Subtotal</h5>
                    <h5>$ {{ cartService.obtenerSubTotal() }}</h5>
                  </div>

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">Envío</h5>
                    <h5 name="envio" value="0">$ 400</h5>
                  </div>


                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total</h5>
                    <h5>$ {{ cartService.obtenerTotal() }}</h5>
                  </div>

                  <button type="button" class="btn btn-dark btn-block btn-lg" data-mdb-ripple-color="dark">Finalizar compra</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


