<div class="container my-3 m-auto " id="container" [ngClass]="rightPanelClass ? 'right-panel-active':''">
    <div class="form-container sign-up-container">
      <form [formGroup]="registerForm" (submit)="registrarUsuario()">
        <h3 class="mt-5">Crear cuenta</h3>
        <div class="social-container">
          <asl-google-signin-button type='standard'  text='signup_with' width="220" size='medium'></asl-google-signin-button>
        </div>
        <span>O usá tu email para el registro.</span>
        <input type="text" placeholder="Nombre" formControlName="nombre" />
        <input type="text" placeholder="Apellido" formControlName="apellido" />
        <input type="text" placeholder="Direccion" formControlName="direccion" />
        <input type="email" placeholder="Email"  formControlName="emailRegistro" />
        <h6 class="text-danger email" *ngIf="
        registerForm.controls.emailRegistro.invalid
        && (registerForm.controls.emailRegistro.dirty || registerForm.controls.emailRegistro.touched)">El email no cumple con el formato establecido.</h6>
        <input type="password" placeholder="Contraseña" formControlName="passwordRegistro"/>
        <h6 class="text-danger email" *ngIf="
        registerForm.controls.passwordRegistro.invalid
        && (registerForm.controls.passwordRegistro.dirty || registerForm.controls.passwordRegistro.touched)">La contraseña no cumple con los requisitos.</h6>
        <div class="container-fluid text-start">
        <ul class="requisitos">
        <p>La contraseña debe cumplir con los siguientes requisitos</p>
        <li class="text-secondary">Minimo 8 caracteres</li>
        <li class="text-secondary">Al menos 1 numero</li>
        <li class="text-secondary">Al menos 1 minuscula (a-z)</li>
        <li class="text-secondary">Al menos 1 mayuscula (A-Z)</li>
        <li class="text-secondary">Al menos 1 caracter especial (! @ # $)</li>
      </ul>
    </div>
       <button type="submit" class="btn registrar mt-4 mb-4" [disabled]="registerForm.invalid" >Registrar cuenta</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form [formGroup]="loginForm" (submit)="validarUsuario()">
        <h3>Inicio de sesión</h3>
        <div class="social-container">
          <asl-google-signin-button type='standard' text='continue_with' size='medium' width="220"></asl-google-signin-button>
        </div>
          <input type="text" class="form-control" placeholder="Email" formControlName="email">
          <input type="password" class="form-control" placeholder="Contraseña" formControlName="password" />
          <a routerLink="/recover-password">Olvidaste tu contraseña?</a>
        <button class="btn ingresar mt-2 mb-4" [disabled]="loginForm.invalid">Ingresar</button>
      </form>
    </div>
    <div class="overlay-container" >
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Bienvenido de vuelta!</h1>
          <p>Para mantenerse conectado con nosotros, inicie sesión con su información personal</p>
          <button class="ghost" (click)="rightPanelClass = false; resetarFormulario()" id="signIn">Iniciar sesión</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Bienvenido!</h1>
          <p>Ingresa tus datos personales y comienza tu trayecto con nosotros</p>
          <button class="ghost" (click)="rightPanelClass = true;" id="signUp">Registrarse</button>
        </div>
      </div>
    </div>
  </div>
