<div class="password-box ">
  <div class="bottom-border">
    <h2> Recupera tu contraseña </h2>
  </div>
  <div class="container-pass">
    <table>
      <tbody>
      <tr >
        <div class="texto">
        <td>Ingresa tu correo electr&oacute;nico. Te enviaremos un correo para restablecer la clave.</td>
        </div>
      </tr>
      <tr>
          <td>
            <input type="email"class="email-pass"  placeholder="Correo electronico">
          </td>


      </tr>
      </tbody>
    </table>
    <div class="d-flex flex-md-row justify-content-center ">
      <a routerLink="/login" role="button" class="btn-cancelar" >Cancelar</a>
      <button type="submit" class="button" name="pass-submit">Restablecer contraseña</button>
    </div>
  </div>
</div>
