<app-header></app-header>
<div class="container align-items-center justify-content-center">

<div class="row ">

    <div class="col-4 mt-5">
       <div>
            <span class="material-icons text-center" style="font-size:10em;">account_circle</span>
            <h4 class="mb-2">Nombre Apellido</h4>
            <h5 class="text-center text-muted d-flex mb-2"><span class="material-icons me-2">contact_mail</span> nombre@mail.com</h5>
            <h5 class="text-center text-muted d-flex"><span class="material-icons me-2">location_on</span> Direccion 123</h5>
        </div>
    </div>
    <div class="col-8 mt-5 ">
        <h3>Mis pedidos</h3>
        <div class="card w-75 border-dark" >
                <div class="card-body">
                  <h5 class="card-title">Pedido N° </h5>
                  <p class="card-text">Productos</p>
                  <p class="card-text">Nombre del producto X 5</p>
                </div>
              </div>
    </div>
</div>
</div>
