<app-header></app-header>

<section>
    <div class="text-center m-5">
        <img src="../../../assets/img/slide2.jpg"  class="w-50" alt="...">
    </div>
    <div class="text-center mb-5">
        <h2>¡Compra procesada con &eacute;xito!</h2>
        <h3>Tu orden fue recibida y procesada con &eacute;xito </h3>
    </div>
    <div class="text-center mb-5">
        <button class="btn-volver" routerLink="/"> Volver</button>
    </div>
    <!-- numero de compra: x -->
</section>

<app-footer></app-footer>