.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }

  .btn-finalizar {
    background-color: #F75C03;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 300px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn-finalizar:hover {
    background-color: #ec6b20;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }
  .btn-seguir{
    background-color: #312f2f;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 300px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
  }
  .btn-seguir:hover{
    background-color: #3a3939;

  }