<main>
<div class="container d-flex m-auto justify-content-center pb-5 pt-5">
  <div class="password-box ">
  <div class="bottom-border">
    <h2> Recupera tu contraseña </h2>
  </div>
  <div class="container-pass-recover">
    <form [formGroup]="recoverPassForm">
      <p>Ingresa tu correo electrónico. Te enviaremos un correo para restablecer la clave.</p>
      <input type="email"class="email-pass" formControlName="emailUser" placeholder="Correo electronico">
      <p class="text-danger email" *ngIf="recoverPassForm.controls.emailUser.invalid && (recoverPassForm.controls.emailUser.dirty || recoverPassForm.controls.emailUser.touched)">
        El email no cumple con el formato establecido.</p>

    <div class="d-flex flex-md-row justify-content-center ">
      <a routerLink="/login" role="button" class="btn-cancelar" >Cancelar</a>
      <button type="submit" class="button" name="pass-submit" [disabled]="recoverPassForm.invalid">Restablecer contraseña</button>
    </div>
    </form>
  </div>

</div>
</div>
</main>