*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  text-align: center;
  font-size: 24px;
  padding: 3px;
}
main{
  background-color:#F3F3F3;
}
.password-box{
  background-color: #fff;
  border-radius: 10px;
  /*box-shadow: 0 14px 28px rgba(0,0,0,0.25),
  0 10px 10px rgba(0,0,0,0.22);*/
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .1);
  position: relative;
  width: 400px;
  max-width: 100%;
  min-height: 350px;
  margin: 60px 0px 60px 0px;
}
.bottom-border{

  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 0;

}
.container-pass-recover{
  margin: 16px;
}
.email-pass{
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  height: auto;
  padding: 16px 0 16px 16px;
  margin-top: 30px;
  width: 360px;
}
.button{
  margin-top: 30px;
  border-radius: 20px;
  border: 1px solid #fda814;
  background-color: #fda814;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 180px;
  height: 57px;

}
.button:disabled{
  opacity: 0.5;
}

.btn-cancelar{
  color: gray;
  margin-top: 30px;
  margin-right: 5px;
  vertical-align: center;
  text-align: center;
  background-color: #e4e6eb;
  border: 1px solid #e4e6eb;
  border-radius: 20px;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  width: 175px;
  height: 57px;
  line-height: 50px;
}
.texto{
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 16px;
}

